<div class="hero-unit">

	<h1> Welcome to Pixelove!</h1>
	<p>
		You've found the home page.

		<%= link_to "one month rails", "http://www.onemonthrails.com" %>

	</p>

	<p> 
		<a href="#" class="btn btn-primary btn-large"> Sign up now! </a> 

	</p>


</div>		